# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

components/input/* @yqrashawn
components/textarea/* @yqrashawn
components/auto-complete/* @yqrashawn
components/select/* @angelia-yuqi-personal
components/card/* @angelia-yuqi-personal
components/modal/* @angelia-yuqi-personal
components/button/* @chain-txz @yqrashawn
components/tooltip/* @yqrashawn
components/popover/* @yqrashawn
components/tag/* @yqrashawn
components/tabs/* @GuichiZhao
components/table/* @yqrashawn
components/pagination/* @zctocm
components/link/* @jnoodle
components/date-picker/* @jnoodle
components/message/* @chain-txz
components/button-group/* @chain-txz


pages/*/components/input.mdx @yqrashawn
pages/*/components/textarea.mdx @yqrashawn
pages/*/components/auto-complete.mdx @yqrashawn
pages/*/components/select.mdx @angelia-yuqi-personal
pages/*/components/card.mdx @angelia-yuqi-personal
pages/*/components/modal.mdx @angelia-yuqi-personal
pages/*/components/button.mdx @chain-txz
pages/*/components/tooltip.mdx @yqrashawn
pages/*/components/popover.mdx @yqrashawn
pages/*/components/tag.mdx @yqrashawn
pages/*/components/tabs.mdx @GuichiZhao
pages/*/components/table.mdx @yqrashawn
pages/*/components/pagination.mdx @zctocm
pages/*/components/link.mdx @jnoodle
pages/*/components/date-picker.mdx @jnoodle
pages/*/components/message.mdx @chain-txz
pages/*/components/button-group.mdx @chain-txz
