# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

components/input/* @yqrashawn
components/textarea/* @yqrashawn
components/auto-complete/* @yqrashawn
components/select/* @angelia-yuqi-personal
components/button/* @chain-txz @yqrashawn
components/card/* @angelia-yuqi-personal
components/modal/* @angelia-yuqi-personal
components/tooltip/* @yqrashawn
components/message/* @chain-txz
components/button-group/* @chain-txz
components/popover/* @yqrashawn
components/tag/* @yqrashawn

pages/*/components/input.mdx @yqrashawn
pages/*/components/textarea.mdx @yqrashawn
pages/*/components/auto-complete.mdx @yqrashawn
pages/*/components/select.mdx @angelia-yuqi-personal
pages/*/components/card.mdx @angelia-yuqi-personal
pages/*/components/modal.mdx @angelia-yuqi-personal
pages/*/components/button.mdx @chain-txz
pages/*/components/tooltip.mdx @yqrashawn
pages/*/components/popover.mdx @yqrashawn
pages/*/components/tag.mdx @yqrashawn