.my-app .my-text {
  font-size: 1rem;
  color: #000;
  text-transform: uppercase;
  display: inline-flex;
  width: 100%;
  margin: 1rem auto !important;
  align-items: center;
  justify-content: center;
  text-align: center;
}
